<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('assets/head') %>
    </head>
    <header>
        <%- include('assets/header', {oldal:"szallitmany"}) %>
    </header>
    <body>
        <div class="w-100 text-end">

        <% if(curr_role === 'ADMIN'){ %>
            <% if(locals.szerkeszt){ %>
                <a class="gomb m-2 p-3" href="/szallitmany">Mégse</a>
            <% }else{ %>
                <a class="gomb m-3 p-3" href="/szallitmany?szerkeszt=1">Szerkeszt</a>
            <% } %>
        <% } %>
        </div>
        <form class="form" action="/ujSzallitmany" method="get">
            <% if(curr_role === 'ADMIN'){ %>
                <label>Honnan:
                    <select class="form-select"  name="honnan_id">
                        <option value="">Választ</option>
                        <% for(let i = 0; i < raktar.length; i++){ %>
                        <option value="<%- raktar[i].raktar_id %>"><%- raktar[i].varos %>, <%- raktar[i].utca %></option>
                        <% } %>
                    </select>
                </label>
            <% }else{ %>
            <input type="hidden" name="honnan_id" value="<%- honnan_id %>">

            <% } %>
        <input class="gomb m-1" type="submit" value="Új szállítmány" >
        </form>
        <table class="table align-middle w-75 mx-auto">
            <thead>
                <tr>
                    <th>Időpont</th>
                    <th>Honnan</th>
                    <th>Hova</th>
                    <th>Felhasználó</th>
                    <% if(locals.szerkeszt){ %>
                        <th class="text-center">Opciók</th>
                    <% }else{ %>
                        <th class="text-center"></th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < szallitmany.length; i++){ %>
                <tr>
                    <% if(locals.id != szallitmany[i].szallitmany_id){ %>
                        <td><%= szallitmany[i].idopont.toISOString().replace(/T/, ' ').replace(/\..+/, '') %></td>
                        <td><%= szallitmany[i].honnan %> </td>
                        <td><%= szallitmany[i].hova %></td>
                        <td><%= szallitmany[i].nev %> </td>
                        <% if(locals.szerkeszt){ %>
                            <td class="">
                                <form class="inline float-end p-2 " action="/deleteSzallitmany" method="post">
                                    <input type="hidden" name="del_id" value="<%- szallitmany[i].szallitmany_id %>" >
                                    <input class="torol" type="SUBMIT" value="Töröl" >
                                </form>
                                <a class="gomb float-end p-2 m-1" href="/szallitmany?szerkeszt=1&id=<%- szallitmany[i].szallitmany_id %>">Módosít</a>
                            </td>
                        <% }else{ %>
                            <td>
                                <a class="gomb float-end" href="/viewRakomany?id=<%- szallitmany[i].szallitmany_id %>">Rakomány</a>
                            </td>
                        <% } %>
                    <% }else{ %>
                        <td><%= szallitmany[i].idopont.toISOString().replace(/T/, ' ').replace(/\..+/, '') %></td>
                        <form class="inline" action="/editSzallitmany" method="post">
                            <input name="szallitmany_id" type="hidden" value="<%= szallitmany[i].szallitmany_id %>">
                            <td>
                                <select class="form-select"  name="honnan_id">
                                    <% for(let j = 0; j < raktar.length; j++){ %>
                                    <option value="<%- raktar[j].raktar_id %>" <% if(raktar[j].raktar_id == szallitmany[i].honnan_id){ %>selected<% } %> ><%- raktar[j].varos %>, <%- raktar[j].utca %></option>
                                    <% } %>
                                </select>
                            </td>
                            <td>
                                <select class="form-select"  name="hova_id">
                                    <option value="">Választ</option>
                                    <% for(let j = 0; j < raktar.length; j++){ %>
                                    <option value="<%- raktar[j].raktar_id %>" <% if(raktar[j].raktar_id == szallitmany[i].hova_id){ %>selected<% } %> ><%- raktar[j].varos %>, <%- raktar[j].utca %></option>
                                    <% } %>
                                </select>
                            </td>
                            <td><%= szallitmany[i].nev %> </td>
                            <td>
                                <a href="/szallitmany?szerkeszt=1" class="gomb float-end m-2">Mégse</a>
                                <input class="gomb float-end m-1" type="SUBMIT" value="Változtat" >
                            </td>
                        </form>
                    <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <br>

    </body>
    <!-- <%- include('assets/footer') %> -->
</html>
