<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('assets/head') %>
    </head>
    <header>
        <%- include('assets/header', {oldal: "sajatRaktar"}) %>
    </header>
    <body>
        <div class="p-3">
        <a class="gomb m-3 p-3" href="raktar">Raktárok</a>   
        </div>

        <% if(curr_role === 'ADMIN' || locals.sajat){ %>
        <div class="p-4">
            <form class="form" action="/addToKeszlet" method="post">
                <input type="hidden" name="raktar_id" value="<%- raktar_id %>" ></input>
                <label>Áru:
                <select class="form-select" name="aru_id">
                    <% for(let j = 0; j < all_aru.length; j++){ %>
                    <option value="<%- all_aru[j].aru_id %>" <% if(j==0){ %>selected<% } %>><%- all_aru[j].nev %></option>
                    <% } %>
                </select>
                </label>
                <label>Db:
                    <input type="number" class="form-control" name="mennyiseg"></input>
                </label>
                <input class="gomb" type="submit" value="Hozzáad">
            </form>
        </div>
        <% } %>

        <h1 class="m-3"><%- locals.nev %> árukészlet:</h1>

        <% if(curr_role === 'ADMIN' || locals.sajat){ %>
            <% if(locals.szerkeszt){ %>
                <a class="gomb m-2 float-end" href="/viewRaktar?id=<%- raktar_id %>">Mégse</a>
            <% }else{ %>
                <a class="gomb m-2 float-end" href="/viewRaktar?id=<%- raktar_id %>&szerkeszt=1">Szerkeszt</a>
            <% } %>
        <% } %>
        <table class="table align-middle w-75 mx-auto">
            <thead>
                <tr>
                    <th>Név</th>
                    <th>Térfogat</th>
                    <th>Súly</th>
                    <th>Ár</th>
                    <th class="text-center">Mennyiseg</th>
                    <% if(locals.szerkeszt){ %>
                        <th class="text-center">Opciók</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < aruk.length; i++){ %>
                <tr>
                    <% if(locals.aru_id != aruk[i].aru_id){ %>
                        <td><%= aruk[i].nev %></td>
                        <td><%= aruk[i].terfogat %> m<sup>3</sup></td>
                        <td><%= aruk[i].suly %> Kg</td>
                        <td><%= aruk[i].ar %> Ft</td>
                        <td class="text-center"><%= aruk[i].mennyiseg %> Db</td>
                        <% if(locals.szerkeszt){ %>
                            <td class="text-center">
                                <a class="gomb" href="/viewRaktar?id=<%- raktar_id %>&szerkeszt=1&aru_id=<%- aruk[i].aru_id %>">Módosít</a>
                                <form class="inline" action="/deleteFromKeszlet" method="post">
                                    <input type="hidden" name="raktar_id" value="<%- raktar_id %>" >
                                    <input type="hidden" name="aru_id" value="<%- aruk[i].aru_id %>" >
                                    <input class="torol" type="SUBMIT" value="Töröl" >
                                </form>
                            </td>
                        <% } %>
                    <% }else{ %>
                        <form class="inline" action="/editKeszlet" method="post">
                            <input name="aru_id" type="hidden" value="<%= aruk[i].aru_id %>">
                            <input name="raktar_id" type="hidden" value="<%= raktar_id %>">
                            <td><%= aruk[i].nev %></td>
                            <td><%= aruk[i].terfogat %> m<sup>3</sup></td>
                            <td><%= aruk[i].suly %> Kg</td>
                            <td><%= aruk[i].ar %> Ft</td>
                            <td>
                                <input  type="number" name="mennyiseg" value="<%= aruk[i].mennyiseg %>"> Db
                            </td>
                            <td>
                                <a class="gomb" href="/viewRaktar?id=<%- raktar_id %>&szerkeszt=1" >Mégse</a>
                                <input class="gomb text-end" type="SUBMIT" value="Változtat" >
                            </td>
                        </form>
                    <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </body>
</html>
